apiVersion: ENC[AES256_GCM,data:HH0=,iv:Yr2Z09SDhQLw0lGv/MDTRjscGH8pb8kIfKlcPFH56hM=,tag:ELeCqOV523JNKQzb5m4xbQ==,type:str]
kind: ENC[AES256_GCM,data:1Y8PPQBH,iv:9kNAsBXn+nIwPtaHoTouqsWVkzlXXt7RXzdb1XavTo8=,tag:7peJ/QMLv8SOAKkOykL89Q==,type:str]
metadata:
    name: ENC[AES256_GCM,data:i/a39M0pd4eWACzsQ9YyLEY=,iv:n4SQ9lA8U6Psn6jpkbNeyMAOWYS9WwpJ3aEc7E4S9/E=,tag:SUGgZVKzG+gwr9kHwg6e0A==,type:str]
    namespace: ENC[AES256_GCM,data:9qQfjFlCWggA5A==,iv:6IM+Rz5LTsocRJUG4S99GOaWJ2sI+wu6NbTONxWQwno=,tag:uV+oqJj7+R4XjQ8cZtnQWQ==,type:str]
type: ENC[AES256_GCM,data:bw9r2iYT,iv:SuEqpbrJubzkdYI2nV4Ibic3vO3cKqUlhDYH5zz2r9o=,tag:k0qHvBEqoxIjONv8/McJ+w==,type:str]
stringData:
    token: ENC[AES256_GCM,data:6FWUwQg2PdDxCwrKqR0MuPACf/H7CLH7cIh4bpkvV2qtT0Z7y7cVVNG/GOKjplm3+nAEPDKqRGy1Bl1CNR9rxajpShdSWNqcJ4iPmFY7JvOywKeLoKEhKLmirVDas32xjnrtLYQ2CZpmFiihD4sUtbM2Zqs2rO2wg5jLMj3YOalCd1tSEJZVBKWuUhj0wRStJPUN+DzAFiZ5C9D9HToVMoB/3ZqwTOnTqBYWQIGEiT8honrv6Z3FRg==,iv:ayvHMlvlJ6McqzbFJWAKcdNnkC9IJa0V5hLlUMEpx90=,tag:BEmCV0U674V3t8UQ+EUqdA==,type:str]
sops:
    age:
        - recipient: age1gqmr5my7ku7ss2wmsj2ezj02vphgsa8rlruf549cen98h924y3hqvz8v35
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBEZVlqU2dxWFFDY1VRbnlw
            NXVIZjAwSm1PMlVPVFdiSU9JN1dwSms5OXpnCnFMVDkxVUs2anJCS1NvUUQzaXFD
            U2VXcWNyZU5YS3hidTlwYmF4MlY4c1EKLS0tIFNzSjNLZmVYSWhoMDZUd09CYjlV
            VkRZcGpwNVNEU2MzL0psdVROT3hnN3MKGffAdPWgKBMWbqARsPLPwy6KmX1eVQPd
            572te7o+dIEcBZTTwtzPabmTp1/Di0DM6TwsH0MjSH7G3TKq7Npq/Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-19T15:38:54Z"
    mac: ENC[AES256_GCM,data:5KBxjFUN7EtFRlQPlWjSmY3CHcCy2oOiwTAz+SbN+xRzmG7etoDvTQTfeLWqzEzyOSzQ10j0p7ykUaHgXPPuNu8g+HsVkRrx0L85kvbvWwbmZRc6dm/9fgLdiMO2jkYrJoJ/0yibedzAKRhpmqjkR2IexNP7JdiSCludeFZ92aU=,iv:dyTFj7SYNfg1tKvw4kzvYsrRMCx2sCGv2HXoHTAawJc=,tag:gN0ZUjxU0UFidfz5nHP/gw==,type:str]
    unencrypted_suffix: _unencrypted
    version: 3.11.0
